nav{
    background-color:#ccc;
    height: 50px;
}
#banner{
    background: #777;
    height: 700px;
}
nav ul{
    list-style: none;
    margin: 0;
    float: right;
}
nav ul li,nav .logo{
    display: inline-block;
    line-height: 50px; 
    margin-right: 20px;
}

nav ul li a{
    line-height: inherit;
    text-decoration:none; 
    display: inline-block;
    height: inherit;
    color: #fff;
}
nav ul li .logo{
    float: left;
    text-decoration: none;
    padding: 10px;
}
#banner .inner{
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 160px;
    color: #eee;
}
#banner .inner h1{
    margin: 0;
}
button{
    border: none;
    background: #333;
    color:#eee;
    padding:14px 30px;
}

#banner .inner .more{
    margin-top: 280px;
}
.sub-heading{
    line-height: 30px;
    margin: 30px;
}
.logo{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
}
.logo a{
    color: #fff;
}
h2{
    font-size:30px;
}
.hr{
    height: 2px;
}
#main-btn{
    padding:14px 28px;
    font-size: 20px;
    letter-spacing: 2px;
    border-radius: 6px;
    background: #18a;
}
.green-section{
    text-align: center;
    background: rgba(24, 86, 114, 0.733);
    color: #fff;
    margin: 0 auto;
    padding: 0;
}
.wrapper{
    max-width:1080px;
    margin: 0 auto;
}
